/* here, in a css module, you cannot put your element selectors, only class & ids */

.greenText {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    /* background-color: hotpink; */
    color: chartreuse;
}

